<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ht.vpn.service</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/VPN.ht.app/Contents/Resources/vpnht-service</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>Umask</key>
	<integer>0</integer>
</dict>
</plist>
